body {
    background-image: url("../Images/laptop.jpg");
    background-repeat: space;
    background-size: cover;
    background-color: black;
}

/* Header  */
div.header h1{
    color: #280000;
    font-family: Papyrus, fantasy;
    font-size: 30px;
    font-weight:900;
    margin-top: 25%;
    letter-spacing: 4px;
}
div.header h3 {
     color: darkblue;
    font-family:Papyrus, fantasy;
    font-size: 25px;
    font-weight: 700;
    margin-top: 5%;
    letter-spacing: 2px;
}


/* Form  */
form {
    font-family:  Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
    padding: 0 2% 0 2%;
    align: "center";
    margin-top: 5%;
}

label, input {
    font-family:  Rockwell, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
    font-size: 1.4em;
    color:#380000;
}

contact {
    align: "center";
}
